<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Trabajos realizados</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="userwork">
    <div *ngFor="let works of userwork">
      <ion-card *ngIf="works.status == '4'; else actividad2" (click)="goToPicFinish(works)" detail-push>
        <ion-card-header>
          <strong>Lugar:</strong> {{ works.dataproperty.name }}
        </ion-card-header>
        <ion-card-content>
          <p>Trabajos: {{ works.actividad }}</p>
          <p>Fecha: {{ works.created | date:'medium' }}</p>
        </ion-card-content>
        <ion-item>
          <span item-end><ion-badge [ngClass]="works.status | worksStatus:'color'">{{works.status | worksStatus}}</ion-badge></span>            
        </ion-item>
      </ion-card>
      <ng-template #actividad2>  
        <ion-card *ngIf="works.status == '3'; else actividad" (click)="goToPicStart(works)" detail-push>
          <ion-card-header>
            <strong>Lugar:</strong> {{ works.dataproperty.name }}
          </ion-card-header>
          <ion-card-content>
            <p>Trabajos: {{ works.actividad }}</p>
            <p>Fecha: {{ works.created | date:'medium' }}</p>
          </ion-card-content>
          <ion-item>
            <span item-end><ion-badge [ngClass]="works.status | worksStatus:'color'">{{works.status | worksStatus}}</ion-badge></span>            
          </ion-item>
        </ion-card>
      </ng-template>
      <ng-template #actividad>
        <ion-card *ngIf="works.status == '1'; else elseblock" (click)="goToWorksEdit(works)" detail-push>
          <ion-card-header>
            <strong>Lugar:</strong> {{ works.dataproperty.name }}
          </ion-card-header>
          <ion-card-content>
            <p>Trabajos: {{ works.actividad }}</p>
            <p>Fecha: {{ works.created | date:'medium' }}</p>
          </ion-card-content>
          <ion-item>
            <span item-end><ion-badge [ngClass]="works.status | worksStatus:'color'">{{works.status | worksStatus}}</ion-badge></span>            
          </ion-item>
        </ion-card>
      </ng-template>
      <ng-template #elseblock>
        <ion-card>
          <ion-card-header>
            <strong>Lugar:</strong> {{ works.dataproperty.name }}
          </ion-card-header>
          <ion-card-content>
            <p>Trabajos: {{ works.actividad }}</p>
            <p>Fecha: {{ works.created | date:'medium' }}</p>
          </ion-card-content>
          <ion-item>
            <span item-end><ion-badge [ngClass]="works.status | worksStatus:'color'">{{works.status | worksStatus}}</ion-badge></span>            
          </ion-item>
        </ion-card>
      </ng-template>
    </div>
  </div>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="goToAdd()" detail-push><ion-icon name="add"></ion-icon></button>    
  </ion-fab>

</ion-content>
