page-pic-ini {
	.picture-field{
		font-size: 3em;
		color: color($colors, primary);
	}	
	.block {
	  position: relative;	  
	  height: 150px;
	  .deleteIcon {
	    position: absolute !important;
	    color: color($colors, primary) !important;
	    margin-left: 80% !important;
	  }
	  .deleteIcon:before {
	    font-size: 30px !important;
	  }
	  img{
	    max-width: 100%;
    	max-height: 100%;
	  }	  
	}
	.block.camera{
		display: flex;
		align-items: center;
		justify-content: center;
	}

}
