<ion-header>
   <ion-navbar color="">
      <ion-title>
         Build Care App
      </ion-title>
   </ion-navbar>
</ion-header>

<ion-content padding class="login-bc">
    <img class="logo" src="assets/imgs/logobc.png" alt="Build Care App">

   <div class="login">
      <h1>Bienvenidos</h1>
      <p>Ingresa para registrar tu trabajo.</p>
      <form [formGroup]="form" (ngSubmit)="login()">
        <ion-list>
            <ion-item>
               <ion-input name="user" type="text" formControlName="email" placeholder="Usuario" [(ngModel)]="form.email"></ion-input>
            </ion-item>


            <ion-item>
               <ion-input name="password" type="password" formControlName="password" placeholder="Contraseña" [(ngModel)]="form.password" ></ion-input>
            </ion-item>


            <button ion-button color="primary" text-center block [disabled]="!form.valid">Log In</button>
         </ion-list>
         <div padding class="error" *ngIf="error">
            <p>{{error}}</p>
         </div>

      </form>
   </div>
</ion-content>
