<!--
  Generated template for the AddWorkPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registrar trabajo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<form [formGroup]="workForm" (ngSubmit)="save()">
      <ion-item >
         <ion-label floating>Propiedades</ion-label>
         <ion-select [(ngModel)]="works.property" (ngModelChange)="selectObjectById(properties, $event,'works')" name="property" interface="action-sheet" formControlName="property" class="form-control">
            <ion-option *ngFor="let property of properties" [value]="property.key">{{property.value.name}}</ion-option>     
         </ion-select>
      </ion-item>
      <ion-item>
         <ion-label floating>Número apartamento</ion-label>
         <ion-input  [(ngModel)]="works.propertyno" type="text" class="form-control" formControlName="noapto" placeholder="Número apartamento" ></ion-input>
      </ion-item>
      <ion-item [hidden]="true">   
        <ion-checkbox color="primary" formControlName="photosAdded" [(ngModel)]="photosAdded"></ion-checkbox>
      </ion-item>
      <ion-grid>
         <ion-row>
            <ion-col col-12 text-center padding><h5>Fotos</h5></ion-col>
         </ion-row>
         <ion-row>
            <ion-col col-6 *ngFor="let photo of photos; let id = index">
                 <ion-card class="block">
                   <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
                   <img [src]="photo" *ngIf="photo" />
                 </ion-card>
            </ion-col>
            <ion-col col-6 *ngIf="photos.length < maxPictures">              
                 <ion-card class="block camera" text-center padding-vertical>              
                   <div class="picture-field" padding (click)="addPicture(true)"><ion-icon name="camera"></ion-icon></div>
                   <div class="picture-field" padding (click)="addPicture(false)"><ion-icon name="folder"></ion-icon></div>
                 </ion-card>
            </ion-col>
         </ion-row>       
      </ion-grid>
      <ion-buttons end padding-top padding-bottom margin-bottom>
        <button ion-button round type="submit" [disabled]="!workForm.valid">Guardar</button>
      </ion-buttons>
   </form>
</ion-content>
