<!--
  Generated template for the WorkfinishPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Finalizar trabajo</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
    <form [formGroup]="activitiesForm" (ngSubmit)="save()">
    	<ion-item-group *ngFor="let apto of activities">
      	<ion-item-divider color="light">{{apto.key}}</ion-item-divider>
      	<ion-list *ngFor="let valor of apto.value">
      		<ion-item>
  	    		<ion-label>{{valor}}</ion-label>
  	    		<ion-toggle (ionChange)="notify($event,valor)" formControlName="element"></ion-toggle>
  		  	</ion-item>
  		  </ion-list>
    	</ion-item-group>
    	<ion-buttons end padding-top padding-bottom margin-bottom>
        <button ion-button round type="submit" [disabled]="!activitiesForm.valid">Guardar</button>
      </ion-buttons>
    </form>
</ion-content>
