<!--
  Generated template for the PicIniPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Fotos después</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>    
  <form [formGroup]="picsForm" (ngSubmit)="save()">
    <ion-item [hidden]="true">   
      <ion-checkbox color="primary" formControlName="photosAdded" [(ngModel)]="photosAdded"></ion-checkbox>
    </ion-item>
    <ion-grid>
      <ion-row>
          <ion-col col-12 text-center padding><h5>Ingresar fotos {{ actividad }}</h5></ion-col>
       </ion-row>
       <ion-row>
          <ion-col col-6 *ngFor="let photo of photos; let id = index">
               <ion-card class="block">
                 <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
                 <img [src]="photo" *ngIf="photo" />
               </ion-card>
          </ion-col>
          <ion-col col-6 *ngIf="photos.length < maxPictures">              
               <ion-card class="block camera" text-center padding-vertical>              
                 <div class="picture-field" padding (click)="addPicture(true)"><ion-icon name="camera"></ion-icon></div>
                 <div class="picture-field" padding (click)="addPicture(false)"><ion-icon name="folder"></ion-icon></div>
               </ion-card>
          </ion-col>
      </ion-row>       
    </ion-grid>
      <ion-buttons end padding-top padding-bottom margin-bottom>
        <button ion-button round type="submit" [disabled]="!picsForm.valid">Guardar</button>
      </ion-buttons>
  </form>          
   
</ion-content>
